h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: rgb(217, 246, 255);
}

#mainImage {
    width: 40%;
    /* display as block so image can be centered. */
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Container {
    display: flex;
    /* to center image */
    justify-content: center;
    gap: 2rem;
}

.otherImage {
    width: 15%;
    margin-top: 20px;
}

.Buttons {
    color: black;
    background-color: white;
    border-width: 2px;
	border-style:solid;
	border-color: black;
	border-radius: 6px;
    text-decoration: none;
    padding: 2px;
}

.Buttons:hover{
	background-color: lightgray;
}

form {
    size: 50px;
    /* so that the bingo sheets don't stack */
    display: flex;
    justify-content: center;
}

#numberbutton {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

#textbox {
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

