table, th, td {
    border: solid;
    border-radius: 1px;
    padding: 10px;
    margin-top: 15px;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

.Buttons {
    color: black;
    background-color: white;
    border-width: 2px;
	border-style:solid;
	border-color: black;
	border-radius: 6px;
    text-decoration: none;
    padding: 2px;
}


.Buttons:hover{
	background-color: lightgray;
}