body {
    background-color: beige;
}

p {
    margin-bottom: 30px;
}

h1 {
    text-decoration: underline;
    text-align: center;
}


.Buttons {
    color: black;
    background-color: white;
    border-width: 2px;
	border-style:solid;
	border-color: black;
	border-radius: 6px;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin: 2px;
    width: 27%;
}

.Buttons:hover {
    background-color: lightgrey;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#bingoImage {
    height: 100px;
}

#musicImage {
    height: 100px;
}

#eventsImage {
    height: 100px;
}