#btnTakePhoto {
    margin-top: 20px;
    margin-left: 550px;
    padding: 10px;
    font-size: 20px;
}

#btnClearPhoto {
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
}

div {
    margin-top: 30px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
}