body {
    background-color: rgb(217, 246, 255);
}

img{
    width: 40%;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#previousbtn{
    margin-top: 10px;
     /* to align it in the centre. */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 30px;
    font-size: 20px;
}
#nextbtn{
    margin-top: 10px;
    /* to align it in the centre. */
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50px;
    height: 30px;
    font-size: 20px;
}

#Buttons {
    color: black;
    background-color: white;
    border-width: 2px;
	border-style:solid;
	border-color: black;
	border-radius: 6px;
    text-decoration: none;
    padding: 2px;
}

#Buttons:hover{
	background-color: lightgray;
}

h1 {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}

p {
    font-size: 200%;
}